@import "../../modules/helpers/variables/variables";
@import "../../modules/helpers/mixins/mixins";
.modal {
	position: fixed;
	z-index: 101;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: var(--color-bg);
	padding: 20px;
	width: 100%;
	box-shadow: 0px 0px 50px 1px var(--color-accent);
	@include md {
		padding: 60px;
		max-width: 500px;
	}
	&__body {
		position: relative;
		form {
			display: flex;
			flex-direction: column;
			gap: 30px;
		}
	}
}
.btn {
	&__close {
		position: absolute;
		right: 50%;
		top: -100px;
		background: transparent;
		width: 40px;
		height: 40px;
		transform: translateX(50%);
		color: var(--color-accent);
		font-size: 20px;
		border: 1px solid var(--color-accent);
		box-shadow: 2px 2px 2px 0 var(--color-accent);
		transition: all 0.3s;
		@include md {
			right: -50px;
			transform: translateX(0);
			top: -50px;
		}

		cursor: pointer;
		&:hover {
			box-shadow: 0px 0px 0px 0 var(--color-accent);
		}
	}
}
.wrapper {
	position: fixed;
	left: 0;
	z-index: 100;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: var(--color-bg-light);
}
