@import "../../modules/helpers/helpers";
.page-title {
	font-size: rem(22);
	font-family: "Yaseva One";
	line-height: 140%;
	color: var(--color-primary);
	text-align: center;
	font-weight: normal;
	text-transform: uppercase;
}
