@import "../../../modules//helpers/helpers";
.question {
	background: linear-gradient(0deg, var(--color-bg) 50%, var(--color-primary) 50%);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding: 100px 0;
	&::before {
		content: "";
		position: absolute;
		display: block;
		width: 100%;
		top: 0;
		left: 0;
		height: 50%;
		background: url("./img/bgBig.png") bottom / cover no-repeat;
		background-size: 100% 220%;
	}

	form {
		background-color: #000;
		margin: 0 -15px;
		display: grid;
		// grid-template-columns: 1fr;
		gap: 20px 60px;
		padding: 15px;

		@include md {
			margin: 0 auto;
			max-width: fit-content;
			place-content: center;
			grid-template-columns: repeat(12, 1fr);
			gap: 20px 60px;
			grid-template-rows: repeat(5, 1fr);
			padding: 30px clamp(30px, 20%, 180px);
		}

		h3 {
			text-transform: uppercase;
			font-family: "Yaseva one";
			text-align: center;
			font-size: 20px;
			@include md {
				grid-column: span 12;
			}
		}
		input {
			background-color: transparent;
		}
		div {
			@include md {
				&:nth-child(2),
				&:nth-child(3) {
					grid-column: span 6;
				}
				&:nth-child(4) {
					grid-column: span 12;
				}
			}
		}
		button {
			@include md {
				grid-column: 5/ 9;
			}
			order: 5;
		}
		label {
			@include md {
				grid-column: 4/ 10;
			}
			order: 4;
		}
	}
}
